
*
{
	border: 0;
	box-sizing: content-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}

 /* page */

 html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 2%; }
 html { background: #999; cursor: default; }

 @media screen and(max-width: 800px){
	html{
		margin: 0;
	}
	
 }


